
*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
/* nav tab and input animation */
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: white !important;
}
.search-input-cus{
    outline: none;
    box-shadow: none !important;
    width: 75px;
    border: none;
    border: 1px solid rgb(205, 205, 205);
    padding: 10px;
    border-radius: 10px;
    transition: all 0.6s ease-out;
}
.animated-icon video{
    width: 45px;
    height: 45px;
    --bs-gutter-x: none
}

.sliderbar{
    position: absolute;
    width: 0px;
    height: 4px;
    border-radius: 1px;
    transition: all 0.6s;
    background-color: #ADC4CE;
}
/* nav tab and input animation end */

/* swiper start */
.swiper-container{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='580' preserveAspectRatio='none' viewBox='0 0 1440 580'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2327%26quot%3b)' fill='none'%3e%3crect width='1440' height='580' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2328%26quot%3b)'%3e%3c/rect%3e%3cpath d='M-59.92 250.99 a119.7 119.7 0 1 0 239.4 0 a119.7 119.7 0 1 0 -239.4 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1480.403%2c417.126C1525.618%2c415.528%2c1560.775%2c381.062%2c1581.482%2c340.836C1600.34%2c304.203%2c1596.881%2c262.669%2c1579.026%2c225.537C1557.834%2c181.465%2c1529.301%2c131.256%2c1480.403%2c130.622C1430.954%2c129.981%2c1400.217%2c179.126%2c1377.245%2c222.92C1356.332%2c262.789%2c1345.026%2c308.684%2c1366.145%2c348.444C1388.487%2c390.506%2c1432.805%2c418.808%2c1480.403%2c417.126' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M771.49 572.18 a103.24 103.24 0 1 0 206.48 0 a103.24 103.24 0 1 0 -206.48 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1053.389%2c294.796C1077.579%2c294.875%2c1100.187%2c281.275%2c1111.367%2c259.823C1121.821%2c239.764%2c1115.855%2c216.404%2c1104.414%2c196.891C1093.135%2c177.655%2c1075.665%2c159.937%2c1053.389%2c160.943C1032.213%2c161.899%2c1020.431%2c182.845%2c1009.769%2c201.166C999.01%2c219.653%2c987.031%2c240.057%2c996.064%2c259.446C1006.225%2c281.256%2c1029.328%2c294.717%2c1053.389%2c294.796' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M659.11 548 a137.19 137.19 0 1 0 274.38 0 a137.19 137.19 0 1 0 -274.38 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M521.466%2c252.198C574.387%2c251.325%2c629.314%2c240.289%2c658.63%2c196.222C691.029%2c147.521%2c697.515%2c82.921%2c667.464%2c32.738C638.088%2c-16.318%2c578.637%2c-33.764%2c521.466%2c-32.829C466.17%2c-31.925%2c412.699%2c-9.591%2c383.51%2c37.381C352.649%2c87.043%2c344.642%2c151.681%2c376.237%2c200.879C405.974%2c247.183%2c466.443%2c253.105%2c521.466%2c252.198' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M365.877%2c404.388C398.309%2c403.415%2c428.458%2c388.453%2c445.618%2c360.915C463.875%2c331.618%2c471.663%2c293.617%2c453.001%2c264.576C435.341%2c237.094%2c398.539%2c236.257%2c365.877%2c236.826C334.595%2c237.371%2c301.544%2c241.714%2c283.86%2c267.524C263.94%2c296.597%2c259.282%2c335.73%2c277.398%2c365.96C295.113%2c395.521%2c331.429%2c405.421%2c365.877%2c404.388' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-99.27 475.91 a145.18 145.18 0 1 0 290.36 0 a145.18 145.18 0 1 0 -290.36 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2327'%3e%3crect width='1440' height='580' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='14.93%25' y1='137.07%25' x2='85.07%25' y2='-37.07%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2328'%3e%3cstop stop-color='rgba(222%2c 222%2c 222%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(237%2c 234%2c 216%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    height: 100vh;
    /* width: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.swiper{
    height: 100%;
}
.swiper .swiper-button-next,.swiper .swiper-button-prev{
    color: #96B6C5;
}
.swiper .swiper-pagination-bullet-active{
    background-color: #96B6C5;
}
h3{
    color: #ADC4CE
}
.description-container{
    z-index: 10;
}
.description{
    color: white;
    padding: 20px;
    border-radius: 10px;
    padding-right: 10px;
    background: #96b6c550;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-size: 18px;
    font-weight: 500;
}

/* swiper animation */
.slide-title,.slide-des,.image{
    opacity: 0;
}

.row{
    margin-left: 0;
}
@keyframes slideTitleAnimation {
    0%{transform: translateY(30px);opacity: 0;}
    100%{transform: translateY(0);opacity: 1;}
}

@keyframes slideDescriptionAnimation {
    0%{transform: translateY(-30px);opacity: 0;}
    100%{transform: translateY(0);opacity: 1;}
}
@keyframes slideImageAnimation{
    0%{transform: translateY(30px);opacity: 0;}
    100%{transform: translateY(0);opacity: 1;}
}

.slide-title-animation{
    animation: slideTitleAnimation 1s forwards;
}
.slide-description-animation{
    animation: slideDescriptionAnimation 1s forwards;
}
.slide-image-animation{
    animation: slideImageAnimation 1s forwards;
}
/* swiper end */

/* introduction cart */
.user-intro{
    padding: 80px 200px;
}
.item-pic{
    width: 300px;
    background-color: #eae7ee6f;
}
.item-des{
    width: 200px;
    position: absolute;
    top: 100px;
    right: 230px;
}
.item-contain{
    position: relative;
}
.item-contain-two{
    margin-top: -50px;
}
.item-contain-three{
    margin-top: 80px;
}
.item-contain-two .item-pic{
    float: none;
}
.item-contain-two .item-des{
    position: relative;
    top: 0px;
    right: 0px;
}

.item-pic{
    float: right;
}
/* intro cart done */

.shop-now{
    position: relative;
    display: inline-block;
}
.link-underline-hover{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: all 0.5s;
}
.shop-now-hover{
    background-color: rgb(255, 46, 46);
    width: 50%;
    transform: translateX(-100%);
    left: 100%;
}
.add-to-cart-animation{
    right: 40px;
    top: 50px;
}
.smaple-card-tab{
    font-size: 19px;
    font-weight: 500;
    color: rgb(184, 184, 184);
}
.smaple-card-tab:hover{
    color: black;
}
.card-container .card{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.card-image{
    background-color: rgba(238, 235, 239, 0.719);
    padding: 10px;
    overflow: hidden;
    overflow-x: hidden;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image img{
    width: 150px;
    height: 150px;
    object-fit:contain;
}
.card-body div{
    top: 0;
    opacity: 0;
    color: rgb(255, 34, 34);
    transition: all 0.3s;
    cursor: pointer;
    z-index: 20;
}
.hovered .card-body div{
    top: 15px;
    opacity: 1;
}
.card-body h5{
    opacity: 1;
    transition: all 0.5s;
    font-size: 18px;
}
.hovered .card-body h5{
    opacity: 0;
}
.inner-icon{
    top: 10px;
    right: 10px;
    transform: translateX(500px);
    transition: all 0.9s;
    background-color: white;
}
.hovered .inner-icon{
    opacity: 1;
    transform: translateX(0px);
}
.clicked-fav .add-to-fav-button{
    display: none;
}
.clicked-fav .fav-animation{
    display: block;
}
.fav-animation{
    display: none;
    padding: 6px;
}

.weekly-sale-contianer{
    background-color: #f3f2ee;
    height: 75vh;
}

.weekly-sale-contianer .inner-container{
    width: 70%;
}
.weekly-image{
    width: 50%;
    z-index: 2;
}
.weekly-image img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.weekly-price{
    border-radius: 300px;
    background-color: black;
    color: white;
    width: 80px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}
.weekly-price span{
    text-decoration: line-through;
    text-decoration-color: red;
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 7px;
}
.weekly-price small{
    font-size: 12px;
}
.weekly-sale-text-container{
    text-align: left;
    margin-left: 30px;
    z-index: 2;
}
.inner-sale-text-container{
    font-size: 20px;
}
.weekly-sale-text-container h4{
    gap: 30px;
}
.weekly-sale-text-container h2{
    white-space: nowrap;
}
.background-animation{
    width: 300px;
    height: 200px;
    background-color: white;
    z-index: 0;
    left: 0;
    /* border-radius: 200px; */
    /* animation: bounceBall 2s infinite alternate; */
    /* transform: translateX(-160%); */
    /* box-shadow: rgba(223, 223, 223, 0.25) 0px 30px 60px -12px inset, rgba(207, 207, 207, 0.3) 0px 18px 36px -18px inset; */
}
/* @keyframes bounceBall {
    25%{
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
    }
    100%{
        transform: translateX(0px);
    }
} */
.footer-container{
    font-size: 12px;
    width: 1000px;
}
.intro-image-grid-container img{
    width: 180px;
    height: 180px;
    object-fit: cover;
}
.intro-image-grid-container{
    padding: 0 10px;
}
.intro-grid-text-container{
    width: 300px;
}

/* scroll animation */

.hidden-right{
    opacity: 0;
    transform: translateX(20px);
    transition: all 1s;
}
.show-right{
    opacity: 1;
    transform: translateX(0);
}
.hidden-left{
    opacity: 0;
    transform: translateX(-20px);
    transition: all 1s;
}
.show-left{
    opacity: 1;
    transform: translateX(0);
}
.hidden-up{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
}
.show-up{
    opacity: 1;
    transform: translateY(0);
}

.card-body img{
    width: 25%;
}
.intro-grid-container{
    height: 105vh;
}
@media screen and (max-width:1190px) {
    .user-intro{
        padding: 80px 150px;
    }
    .item-contain-two{
        margin-top: -100px;
    }
}

@media screen and (max-width:1080px) {
    .user-intro{
        padding: 80px 80px;
    }
    .item-contain-two{
        margin-top: -100px;
    }

    .weekly-image img{
        width: 280px;
    }
    .footer-container{
        width: 90%;
    }
}
@media screen and (max-width:995px) {
    .user-intro{
        padding: 80px 100px;
    }
    .item-pic{
        width: 250px;
        background-color: #eae7ee6f;
    }
    .item-contain-three{
        margin-top: 0;
    }
    .weekly-image img{
        width: 250px;
    }
    .intro-image-grid-container img{
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    .intro-grid-text-container{
        width: 250px;
        margin-left: 15px;
        transform: translateX(20px);
    }
}


@media screen and (max-width:800px) {
    .description-container{
        position: absolute;
        right: 90px;
    }
    .description-container div h3{
        color: #ADC4CE;
    }
    .description{
        color: white;
    }
    .image{
        width: 300px;
        height: fit-content;
        align-self: flex-end;
    }
    .weekly-image{
        width: 50%;
    }
    .weekly-image img{
        width: 200px;
        height: 200px;
        object-fit: contain;
    }
    .weekly-sale-contianer .inner-container{
        width: 100%;
    }
}
@media screen and (max-width:770px) {
    .user-intro{
        padding: 80px 0px;
    }
    .weekly-sale-text-container{
        margin-left: 140px;
    }
    .intro-grid-text-container{
        width: 90%;
        margin-top: 25px;
        /* transform: translateX(0); */
    }
}
@media screen and (max-width:666px) {
    .weekly-sale-text-container{
        margin-left: 150px;
    }
    .copy-text{
        font-size: 12px;
    }
}
@media screen and (max-width:560px) {
    .description-container{
        top: 5px;
    }
    .user-intro{
        padding: 80px 30px;
    }
    .item-contain .item-pic{
        float: none;
        width: 100%;
    }
    .item-des{
        width: 100%;
        position: relative;
        top: 0px;
        right: 0px;
    }
    .item-contain-two{
        margin: 0;
    }
    .item-contain{
        margin: 20px;
    }
    .weekly-sale-text-container{
        margin-left: 100px;
    }
    .intro-image-grid-container img{
        width: 130px;
        height: 130px;
        object-fit: cover;
    }
    .intro-image-grid-container{
        justify-content: center;
    }
    .hidden-right{
        opacity: 1;
        transform: translateX(0px);
        transition: all 1s;
    }
    .show-right{
        opacity: 1;
        transform: translateX(0);
    }
    .hidden-left{
        opacity: 1;
        transform: translateX(-0px);
        transition: all 1s;
    }
    .show-left{
        opacity: 1;
    }
    .show-up{
        opacity: 1;
        transform: translateX(0);
    }
    .hidden-up{
        opacity: 1;
        transform: translateX(0);
    }
    
}
@media screen and (max-width:450px) {
    .description-container{
        position: absolute;
        top: 100px;
        right: 60px;
    }
    .image{
        width: 100%;
    }
    .weekly-price{
        top: -25px;
        right: 40px;
    }
    .smaple-card-tab{
        font-size: 17px;
        font-weight: 500;
        color: rgb(184, 184, 184);
    }
    .card-image{
        width: 150px;
        height: 150px;
    }
    .card-image img{
        width: 120px;
        height: 120px;
    }
    .inner-icon{
        top: 10px;
        right: 10px;
        opacity: 0;
        transform: translateX(10px);
        transition: all 0.9s;
    }
    .weekly-sale-text-container{
        margin-left: 100px;
    }
    .weekly-sale-text-container h4{
        gap: 10px;
    }
    .weekly-image{
        width: 300px;
    }
    .intro-image-grid-container img{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

}

@media screen and (max-width:400px) {
    .weekly-sale-text-container{
        margin-left: 20px;
    }
    .smaple-card-tab{
        font-size: 14px;
        font-weight: 500;
        color: rgb(184, 184, 184);
    }
}
@media screen and (max-width:380px) {
    .description-container{
        right: 10px;
    }
    .description{
        width: 250px;
    }
    .image{
        width: 100%;
    }
    .intro-image-grid-container img{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    .card-body h5{
        font-size: 14px;
    }
    .card-image{
        background-color: rgba(238, 235, 239, 0.719);
        padding: 10px;
        overflow: hidden;
        overflow-x: hidden;
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-image img{
        width: 80px;
        height: 80px;
        object-fit:contain;
    }
    .card-body img{
        width: 40px;
    }

}
@media screen and (max-width:350px) {
    .description-container{
        left: 18px;
    }
    .description{
        width: 230px;
    }
    .image{
        width: 110%;
    }   
    .weekly-price{
        top: -60px;
        right: 30px;
    }
    .weekly-image{
        width: 250px;
    }
    .weekly-image img{
        width: 250px;
    }
    .weekly-sale-text-container h2{
        white-space: pre-wrap;
    }
    .slide-title,.slide-des{
        margin-left: 7px;
    }
    .smaple-card-tab{
        font-size: 10px;
        font-weight: 500;
        color: rgb(184, 184, 184);
    }
    .intro-image-grid-container img{
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
}
@media screen and (max-width:300px) {
    .background-animation{
        width: 90%;
        height: 200px;
        background-color: white;
        z-index: 0;
        left: 0;
        /* border-radius: 200px; */
        /* animation: bounceBall 2s infinite alternate; */
        /* transform: translateX(-160%); */
        /* box-shadow: rgba(223, 223, 223, 0.25) 0px 30px 60px -12px inset, rgba(207, 207, 207, 0.3) 0px 18px 36px -18px inset; */
    }
    .intro-image-grid-container img{
        width: 70px;
        height: 70px;
        object-fit: cover;
    }
    .intro-grid-text-container h5{
        font-size: 13px;
    }
    .intro-grid-text-container p{
        font-size: 9px;
    }
    .intro-grid-container{
        height: 80vh;
    }
}
@media screen and (max-width:283px) {
    .smaple-card-tab{
        font-size: 9px;
        font-weight: 500;
        color: rgb(184, 184, 184);
    }
}


