body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.into-container{
    background-image: url(../pics/Download\ free\ png\ of\ Blue\ curve\ frame\ template\ design\ element\ by\ wifiseeker\ about\ wave\ vector\,\ wave\ shape\ png\,\ gradient\,\ blue\ background\,\ and\ blue\ curved\ border\ 2353805.jpg);
    background-size:cover;
    width: 50%;
    padding: 30px;
    background-repeat: no-repeat;
    background-position: bottom;
}
.border-remove{
    border:none
    ;border-bottom: 2px solid #79E0EE;
    border-radius: 0px;
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border:none
    ;border-bottom: 2px solid #79E0EE;
    border-radius: 0px;
    outline: 0;
    box-shadow:none;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: white;
}
.form-into{
    width: 50%;
}
.form-into small{
    width: 70%;
}
.form-into h2{
    font-size: 28px;
    font-weight: 700;
    background: linear-gradient(150deg,#62CDFF,#97DEFF,#C9EEFF);
    color: transparent;
    -webkit-background-clip:text;
    margin-bottom: 30px;
}
.form-check-contianer{
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 auto;
    padding: 20px 0px;
}
.singup-form-container{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.singup-btn{
    border: none;
    color: #79E0EE;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: rgba(191, 195, 199, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    transition: all 0.3s ease-in-out;
    margin-bottom: -40px;
}
.singup-btn:active{
    box-shadow: rgb(213, 215, 217) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.login-btn{
    text-decoration: none;
    color: #6de5fdcb;
    padding: 33px 25px;
    border-radius: 90px;
    border: 1px solid #6de5fda2;
    font-size: 19px;
    font-weight: 500;
}
.login-btn:hover{
    color: white;
    background-color: #6de5fda2;
    border: none;
}
.form-into{
    display: flex;
}
.link-to-login{
    display: none;
}
.email-error{
    bottom: -20px;
    font-size: 14px;
    display: none;
}
.confirm-error{
    bottom: -20px;
    font-size: 14px;
    display: none;
}

.fill-out-form-error small{
    display: flex;
    white-space: nowrap;
}
.fill-out-form-error{
    top: 0;
    display: none;
}
.show-error{
    display: block;
}
@media screen and (max-width:625px) {
    .form-into{
        display: none;
    }
    .form-check-contianer{
        padding: 20px 30px;
    }
    .singup-form-container{
        margin: 10px;
    }
    body{
        background-image: url(../pics/Download\ free\ png\ of\ Blue\ curve\ frame\ template\ design\ element\ by\ wifiseeker\ about\ wave\ vector\,\ wave\ shape\ png\,\ gradient\,\ blue\ background\,\ and\ blue\ curved\ border\ 2353805.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .link-to-login{
        display: block;
    }
}
